.home-page {
	padding: 1em;
	display: grid;
	height: 100%;
	grid-template-columns: 70% 30%;

	color: $appLightYellow;
  background-color: $appBlue;

	&__container {
	    width: 100%;
	    display: flex;
	    flex-direction: column;
	}
}
