.home-page {
	padding: 1em;
	display: grid;
	height: 100%;
	grid-template-columns: 70% 30%;

	color: var(--primary-color-2);
  background-color: var(--background-color);

	&__container {
	    width: 100%;
	    display: flex;
	    flex-direction: column;

			&--right {
				padding-left: 1em;
			}

			&--left {
				padding-right: 1em;
			}
	}
}
