html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  background-color: $appCream;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  color: #333;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-page {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
}

input {
  border-radius: 8px;
  padding: 8px;
  border: 1px solid black;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
}

.clean-text-decoration {
  text-decoration: none;
}

.no-button-css {
  user-select: none;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slide {
  background-color: rgba(0,0,0,0) !important;
}
