/* Test variables */
$mainBlue: #37b6ff;
$mainOrange: #edb337;

/* To be adjusted */
$navbarHeight: 80px;

$appBlue: #364f6b;
$appLightGreen: #3fc1c9;
$appLightYellow: #fce38a;
$appLightPink: #fc5185;
$appCream: #ececeb;
