/* Test variables */
$mainBlue: #37b6ff;
$mainOrange: #edb337;

/* To be adjusted */
$navbarHeight: 80px;

$appBlue: #364f6b;
$appLightGreen: #3fc1c9;
$appLightYellow: #fce38a;
$appLightPink: #fc5185;
$appCream: #ececeb;
$transparentLightGreen: rgba(63, 193, 201, 0.3);

:root {
	--primary-color-1: $appLightGreen;
	--primary-color-2: $appLightYellow;
	--primary-color-3: $appLightPink;

	--secondary-color-1: $appLightGreen;
	--secondary-color-2: $appLightPink;

	--white-color: $appCream;
	--background-color: $appBlue;
	--background-secondary-color: $transparentLightGreen;
}
