.current-mood-component {
	width: 100;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1em;

	&__label {
		color: var(--primary-color-2);
		font-size: 1.25em;
		font-weight: bold;
		text-shadow: 2px 2px 0 var(--secondary-color-2), -2px -2px 0 var(--secondary-color-1);
	}
}
