.mood-select-item-component {
	display: flex;
	text-align: start;
	padding: 0.5em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	color: var(--primary-color-2);
	border-radius: 0.2em;

	&:hover {
		color: var(--background-color);
		background: var(--primary-color-1);
	}
}
