.mood-select-component {
	display: flex;
	flex-direction: column;

	position: absolute;

	padding: 0.25em 1em 0.25em 1em;

	background-color: var(--background-color);
	border: 1px solid var(--primary-color-3);
	border-bottom-left-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
}
