.navigation-item-component {
	text-decoration: none;
	color: var(--primary-color-1);
	border-color: var(--primary-color-2);
	font-size: 1.2em;
	padding: 0.25em;
	margin-right: 1em;
	margin-bottom: 0.25em;

	transition: color 0.2s ease-in-out;

	&--selected {
		color: var(--primary-color-2);
		border-bottom: 1px solid var(--primary-color-3);
	}

	&:hover {
		color: var(--primary-color-3);
	}
}
