.form-component {
  display: grid;
  row-gap: 1em;

  &__form-message {
    white-space:pre-wrap;
    color: $appBlue;
    border: 1px solid $appBlue;
    border-radius: 0.5em;
    padding: 0.5em;

    &--error-message {
      border-color: var(--primary-color-3);
      color: var(--primary-color-3);
    }
  }
}
