.form-input-component {
  &__label {
    color: var(--primary-color-1);
    display: grid;
  }

  &__input {
		color: var(--primary-color-2);
    border-color: var(--primary-color-3);
    margin-top: 0.5em;
		background-color: var(--background-color);
  }
}

.form-checkbox-label-component {
  grid-template-columns: auto 1fr;
}

.form-checkbox-input-component {
  order:-1;
  margin-right: 0.5em;
  margin-top: 0;
}
